/* analysis.css */

.analysis {
  /* text-align: center; */
  margin-top: 20px;
}

.analysis img {
  width: 300px;
  height: auto;
  cursor: pointer;
  transition: transform 0.2s ease-in-out;
}

.analysis img:hover {
  transform: scale(1.05);
}

.table{
  margin-left: 20%;
}
.chart{
  margin-left: 20%;
}
