

@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&display=swap');


/* Basic Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "DM Serif Text", serif;
}

/* Analysis Page Styles */
.analysis {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-bottom: 10vh;
}

.heading {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
  margin-bottom: 30px;
}

.heading .table,
.heading .chart {
  flex: 1;
  margin-left: 10px;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  color: #333;
}

.analysis-links {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 800px;
}

.analysis-links .table,
.analysis-links .chart {
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px;
}

.analysis-links img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 13px 15px rgba(8, 44, 27, 0.342);
}

@media (max-width: 768px) {
  .analysis-links {
    flex-direction: column;
  }

  .analysis-links .table,
  .analysis-links .chart {
    margin: 10px 0;
  }
}
