.chart-container {
  margin-top: 50px;
  width: 40%;
  max-width: 800px;
  height: 400px;
  display: flex;
  float: left;
  margin-left: 6.5vw;
}




.chart-container1 {
  margin-top: 50px;
  width: 40%;
  max-width: 800px;
  height: 400px;
  display: flex;
  flex-direction: row;
  float: right;
  margin-right: 6.5vw;
}




.chart-container2 {
  margin-top: 80px;
  width: 42%;
  max-width: 900px;
  height: 600px;
  display: flex;
  flex-direction: row;
  margin-left: 29vw;
  margin-bottom: 15vh;
}





.buttons-container {
  margin-top: 3rem;
  margin-left: 22vw;
}

.but {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
  margin-left: 3rem;
}

.but::before,
.but::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.but::before {
  top: -1em;
  left: -1em;
}

.but::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.but:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.but:hover {
  color: rgb(10, 25, 30);
}

.but:active {
  filter: brightness(0.8);
}

.title {
  display: grid;
  justify-content: center;
  margin-top: 3rem;
}
