.home-page {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background-color: #f0fff0; /* Light green background */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.hero {
  padding: 50px;
  text-align: center;
}

.hero h1 {
  font-size: 2.5em;
  margin-bottom: 15px;
}

.hero p {
  font-size: 1.2em;
  color: #333; /* Darker text for contrast */
  margin-bottom: 30px;
}

/* .Cta-container {
  display: flex;
  justify-content: center;
  gap: 10px;
} */


.benefits h2 {
  text-align: center;
  margin-bottom: 20px;
}

.benefit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 20px;
}

.benefit {
  background-color: #e0ffe0; /* Lighter green for benefit boxes */
  padding: 20px;
  border-radius: 5px;
}

.benefit h3 {
  margin-bottom: 15px;
}

.benefit ul {
  list-style: none;
  padding: 0;
}

.benefit li {
  margin-bottom: 5px;
}

/* About Us Section (Optional) */

.about-us {
  padding: 50px;
}

.about-us p {
  margin-bottom: 15px;
}


.button-home {
  --color-green: #03926e;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 1em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: .5s;
  font-weight: 800;
  font-size: 15px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: #166b56;
  z-index: 1;
  margin-left: 3rem;
 }
 
 .button-home::before, .button-home::after {
  content: '';
  display: block;
  width: 100px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color-green);
  transition: 1s ease;
 }
 
 .button-home::before {
  top: -1em;
  left: -1em;
 }
 
 .button-home::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
 }
 
 .button-home:hover::before, .button-home:hover::after {
  height: 410px;
  width: 410px;
 }
 
 .button-home:hover {
  color: rgb(10, 25, 30);
 }
 
 .button-home:active {
  filter: brightness(.8);
 }
 
