/* General page styles */
.register-factory-page {
  display: flex;
  justify-content: center;
  align-items: center;
  /* height: 100vh; */
  margin-top: 5%;
  margin-bottom: 20vh;
  /* background-color: #f4f4f4; */
}

.register-form-container {
  background: white;
  padding: 20px;
  height: 38rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(25, 32, 25, 0.199);
  width: 35%;
  background-color: #c3ddc5;
  margin-bottom: 0px;
}

.register-form-container h2 {
  text-align: center;
  /* color: #333; */
  margin-top: 0px;
  font-style:oblique;

}

/* Form styling */
.regForm {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.regForm label {
  font-weight: bold;
  color: #555;
  /* margin-left: 10%; */
}

.regForm input[type="text"],
.regForm input[type="email"],
.regForm input[type="password"] {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: block;
  width: 80%;
  margin-left: 10%;
}

.regForm input[type="text"]:focus,
.regForm input[type="email"]:focus,
.regForm input[type="password"]:focus {
  border-color: #0056b3;
  outline: none;
}

.registerSubmit {
  background-color: #1d1160;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 30%;
  margin-left: 10%;
  margin-top: 3%;
  font-weight: 800;
}

.registerSubmit:hover {
  background-color: #0056b3;
}
