/* Base styles */
body {
  font-family: sans-serif;
  background-color: #f0fff0; /* Light green background */
}

/* Form container */
form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
  background-color: #f0fff0; /* Light green background */
  align-items: center;
  margin-top: 5%;
  margin-bottom: 30vh;
}

/* Form labels */
label {
  display: block;
  font-weight: bold;
  color: #666;
}

/* File input */
#upload-file {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
}

/* Dropdown */
#factory-dropdown {
  padding: 10px 80px;
  border: 1px solid #ccc;
  border-radius: 10px;
  margin-left: 20px;
}

/* Submit button */

/* Upload message */
.upload-message {
  color: darkgreen;
  font-style: italic;
}

.storeBtn {
  cursor: pointer;
}
.button {
  --color: #00a97f;
  padding: 0.8em 1.7em;
  background-color: transparent;
  border-radius: 0.3em;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: 0.5s;
  font-weight: 400;
  font-size: 17px;
  border: 1px solid;
  font-family: inherit;
  text-transform: uppercase;
  color: var(--color);
  z-index: 1;
}

.button::before,
.button::after {
  content: "";
  display: block;
  width: 50px;
  height: 50px;
  transform: translate(-50%, -50%);
  position: absolute;
  border-radius: 50%;
  z-index: -1;
  background-color: var(--color);
  transition: 1s ease;
}

.button::before {
  top: -1em;
  left: -1em;
}

.button::after {
  left: calc(100% + 1em);
  top: calc(100% + 1em);
}

.button:hover::before,
.button:hover::after {
  height: 410px;
  width: 410px;
}

.button:hover {
  color: rgb(10, 25, 30);
}

.button:active {
  filter: brightness(0.8);
}

.button-group .button {
  margin-left: 80px;
}

.download-section {
  border: 2px solid #a9cca9;
  border-radius: 20px;
  box-shadow: 0 13px 15px rgba(8, 44, 27, 0.342);
  margin-top: 8%;
  margin-left: 31%;
  margin-bottom: 50vh;
  max-width: 650px;
  height: 220px;
}

.ipfs-hash {
  margin-bottom: 30px;
  margin-top: 30px;
  margin-left: 25px;
}

.ipfs-hash p {
  font-size: 20px;
  float: left;
  margin-right: 20px;
}

.ipfs-hash input {
  width: 400px;
  height: 30px;
  border-radius: 10px;
}

.button-group1{
  margin-left: 16%;
}
.button-group1 .button {
  margin-left: 60px;
}

.download-message{
  margin-left: 35%;
  margin-top: 20px;
}