/* Container Styling */
.upload-container {
  padding: 20px;
  border: 2px solid #4caf50; /* Green border */
  border-radius: 10px;
  background-color: #eef5ef; /* Light green background */
  max-width: 600px;
  margin: 0 auto;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: 400px;
  margin-top: 5vh;
  margin-bottom: 30vh;
}

/* Form Elements */
.upload-form {
  display: flex;
  flex-direction: column;
  margin-top: 50px;
}

.upload-label {
  font-weight: bold;
  color: #19421b; /* Darker green for text */
  margin-bottom: 10px;
}

.upload-input,
.upload-select,
.download-input {
  width: 100%;
  height: 40px;
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid #7aaf7d; /* Light green border */
  border-radius: 5px;
  background-color: #f1f8e9; /* Light green background for input fields */
}

.upload-input:focus,
.upload-select:focus,
.download-input:focus {
  outline: none;
  border-color: #66bb6a; /* Highlight border on focus */
}

/* Button Styling */
.button-group {
  display: flex;
  justify-content: space-between;
}

.button {
  padding: 10px 20px;
  background-color: #4caf50; /* Green background */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.button:hover {
  background-color: #388e3c; /* Darker green on hover */
}

/* Messages */
.message {
  color: #1b5e20; /* Dark green for messages */
  font-weight: bold;
  margin-top: 20px;
}

.upload-message {
}

.download-message {
}

/* Download Section */
.download-section {
  text-align: center;
  margin-top: 30px;
}

.button-group1{
  margin-left: 30px;

  button{
    margin-left: 30px;
  }
}

.download-label {
  display: block;
  font-weight: bold;
  color: #2e7d32;
  margin-bottom: 10px;
}

/* Responsive Styling */
@media (max-width: 600px) {
  .button-group {
    flex-direction: column;
    align-items: center;
  }

  .button-group .button {
    width: 100%;
    margin-bottom: 10px;
  }
}
